extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Ingrese los siguientes datos

        // register form
        form(method='POST' action='/users')
          div.form-group
            label(for='id') ID :
            input#id.form-control(type='text', name='id')
          div.form-group
            label(for='nombre') NOMBRE :
            input#nombre.form-control(type='nombre', name='nombre')
         

         
          button.btn.btn-primary(type='enviar') Enviar
